<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<footer>
</footer>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 m6 s6">
        <a class="col s12 btn btn-flat btn-large waves-effect waves-light" routerLink="">
          <i class="material-icons">
            photo_camera
          </i>
        </a>
      </div>
      <div class="col l6 m6 s6">
        <a class="col s12 btn btn-flat btn-large waves-effect waves-light" routerLink="bill">
          Buscar
        </a>
      </div>
    </div>
  </div>
</footer>
